.container{
    display: grid;
    grid-template-columns: auto auto;
    width:800px;
    margin:auto;
    padding: 20px;
}
.row{
    padding: 10px;
}
input{
    padding: 5px;
}
 
#Result{
    color: red;
}