.container{
    display: grid;
    grid-template-columns: auto auto;
    width:400px;
    margin:auto;
    padding: 20px;
}
.row{
    padding: 10px;
}
.row4{
    grid-row: 3;
    grid-column: 1 /span 2;
}